---
// Component Imports
import Header from "../components/Header.svelte";
import SocialIcons from "@rodneylab/svelte-social-icons";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style>
      html,
      body {
        font-family: "Roboto Mono", monospace;
        margin: 0;
      }
      body {
        padding: 2rem;
      }
    </style>
  </head>
  <body class="bg-slate-50">
    <main class="mx-auto max-w-screen-lg px-3 py-6">
      <Header currentPage="about" client:load />
      <div
        class="flex flex-col px-2 sm:px-4 py-2.5 items-center md:flex-row md:justify-between md:gap-x-16"
      >
        <div>
          <p class="mt-6 text-l md:leading-8 sm:leading-6">
            Hi, I'm Matthew. I like programming, languages, music, travel, and
            literature. I graduated from UC Berkeley in 2022 with a bachelor's
            in computer science and will begin working as a software engineer at
            YouTube in September 2023. You can find my resume
            <a
              class="text-cyan-400 hover:underline"
              target="_blank"
              href="https://drive.google.com/file/d/1txXqH0SRE6Xnr1kEOC1TpZPLZs1jmJgR/view?usp=sharing"
              >here</a
            >.
          </p><div class="mt-3 flex gap-1">
            <a target="_blank" href="mailto:my1@berkeley.edu">
              <SocialIcons network="email" alt="" width="36" height="36" />
            </a>
            <a target="_blank" href="https://github.com/blimeo">
              <SocialIcons network="github" alt="" width="36" height="36" />
            </a>
            <a
              target="_blank"
              href="https://www.linkedin.com/in/matthewye2001/"
            >
              <SocialIcons network="linkedin" alt="" width="36" height="36" />
            </a>
            <a target="_blank" href="https://soundcloud.com/blimeo">
              <SocialIcons network="soundcloud" alt="" width="36" height="36" />
            </a>
            <a
              target="_blank"
              href="https://open.spotify.com/user/blimeo?si=c350ffb745164b48"
            >
              <SocialIcons network="spotify" alt="" width="36" height="36" />
            </a>
          </div>
        </div><div class="shrink-0">
          <img
            class="w-72 h-48"
            src="/capybara.webp"
            alt="Avatar image"
            loading="lazy"
          />
        </div>
      </div>
    </main>
  </body>
</html>
